{% extends 'base.html' %}

{% block title %}Artículo - {{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div>
        <h2>{{ article.subcategoria }}</h2>
        <p>{{ article.contenido_texto }}</p>
        <h2>{{ article.subcategoria2 }}</h2>
        <p>{{ article.contenido_texto2 }}</p>
        <h2>{{ article.subcategoria3 }}</h2>
        <p>{{ article.contenido_texto3 }}</p>
        {% if article.gameplay %}
            <video controls>
                <source src="{{ article.gameplay.url }}" type="video/mp4">
                Tu navegador no soporta el video.
            </video>
        {% endif %}
        <h2>{{ article.subcategoria4 }}</h2>
        <p>{{ article.contenido_texto4 }}</p>
        <h2>{{ article.subcategoria5 }}</h2>
        <p>{{ article.contenido_texto5 }}</p>
        {% if article.imagenes %}
            <img src="{{ article.imagenes.url }}" alt="Imagen de {{ article.title }}">
        {% endif %}
    </div>
{% endblock %}