{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/quienes_somos.css' %}">

<div class="quienes-container">
    <h1 class="quienes-title">¿Quiénes somos?</h1>

    <div class="quienes-grid">
        <!-- Columna Izquierda -->
        <div class="quienes-texto">
            <p>
                Emeyce Software Solutions es una micro-empresa creada por los jovenes aventureros Carlo
                Tamayo y Jesus Trinidad,
                una empresa dedicada a la creación, distribución 
                y mantenimiento de soluciones de software innovadoras.
            </p>
            <p>
                Trabajamos con valores de calidad, innovación y cercanía, desarrollando proyectos 
                a medida y contribuyendo al mundo digital con nuestras soluciones.
            </p>
        </div>

        <!-- Columna Derecha -->
        <div class="quienes-logo">
            <img src="{% static 'assets/Emeyce_SS_LOGO.png' %}" alt="Emeyce Logo">
        </div>
    </div>
</div>

{% endblock %}
